body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #252525;
}

input[type="radio"] {
  margin-right: .5rem;
}

.card {
  width: 50%;
  margin: 0 auto;
  min-width: 480px !important;
}

.q-results {
  position: relative;
  margin-bottom: 1.5rem;
  background: rgb(220, 255, 238);
  padding: 1.75rem;
  border: 1px solid lightgreen;
  border-radius: 5px;
}

.user-choice-badge.show {
  padding-top: 5px;
  transform: rotate(20deg);
  position: absolute;
  top: -2rem;
  right: -1.5rem;
  width: 4.5rem;
  height: 4.5rem;
  border: 2px dotted goldenrod;
  background: palegoldenrod;
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 50%;
}

.user-choice-badge.hide {
  display: none;
}

.q-results p {
  color: green;
}

.progress {
  height: 2.5rem !important;
}

p.out-of-votes {
  margin-top: 5px;
  text-align: center;
  color: black;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.question-info-container {
  display: flex;
}

.avatar-img-container {
  padding: 1rem;
}

.avatar-img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  border: 5px double #f5c322;
}

.question-details {
  padding: 1rem;
  width: 100%;
}
